extends layout

title = title

block content
	ul
		li
			h2 Gmod Scripts
		li
			p #{title}
		li
			a(href='/') Home
		li
			a(href='/scripts/all') Scripts
		li
			a(href='/scripts/requests') Requests
		li
			a(href='/account/view') My Account
		li
			ul
			li
				a(href='/account/login') Login
				li
					a(href='/account/logout') Logout
				li
					a(href='/account/settings') Settings
				li
					a(href='/account/scripts') My Scripts
	if(typeof user !== "undefined")
		h2 You're already logged in, #{user.identifier} !
	else
		a(href='/account/auth/steamlogin') Sign in with Steam!
