block content
	ul
		li
			h2 Gmod Scripts
		li
			p #{title}
		li
			a(href='/') Home
		li
			a(href='/scripts') Scripts
		li
			a(href='/request') Requests
		li
			a(href='/account') My Account
		li
			ul
			li
				a(href='/account/login') Login
				li
					a(href='/account/logout') Logout
				li
					a(href='/account/settings') Settings
				li
					a(href='/account/scripts') My Scripts